@import url("../vendor/normalize.css");
@import url("../vendor/minireset.css");
@import url("../blocks/root/root.css");

@font-face {
  font-family: "InterWeb";
  src: url("../vendor/interweb/Inter-Regular.woff") format("woff"),
    url("../vendor/interweb/Inter-Regular.woff2") format("wooff3");
  font-weight: 400;
}

@font-face {
  font-family: "InterWeb";
  src: url("../vendor/interweb/Inter-Medium.woff") format("woff"),
    url("../vendor/interweb/Inter-Medium.woff2") format("wooff3");
  font-weight: 600;
}

@font-face {
  font-family: "InterWeb";
  src: url("../vendor/interweb/Inter-Bold.woff") format("woff"),
    url("../vendor/interweb/Inter-Bold.woff2") format("wooff3");
  font-weight: 900;
}
